.UserPage{
    padding-top: 50px;
}

button{
    display: block;
}
.start{
    color: #f2f2f2;
    background-color: rgb(223, 69, 124);
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    border-color: rgb(223, 69, 124);
    border-radius: 8px;
    box-shadow: 1px 5px 5px 0px rgb(0, 0, 0);
    transition-duration: 0.4s;
    
}
    
.start:hover {
    background-color: rgb(42, 41, 116);
    border-color:  rgb(42, 41, 116);
  }

  .events{
    margin-left: 300px; 
    color: #f2f2f2;
    background-color: rgb(223, 69, 124);
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    border-color: rgb(223, 69, 124);
    border-radius: 8px;
    box-shadow: 1px 5px 5px 0px rgb(0, 0, 0)
}

.events:hover {
    background-color: rgb(42, 41, 116);
    border-color:  rgb(42, 41, 116);
  }

.userEvent{
    margin-bottom: 40px;
    padding-left: 50px;
}

.userEvent li {
    list-style-type: none;
    display: inline-block;
    margin: 1em;
    width: 300px;
}
.userEvent ul {
    list-style-type: none;
}

.adminButton{
margin-top: 200px;
}

.head1{
    margin-left: 20px;
    color:rgb(42, 41, 116);
    font-weight: 800;
}

.head2{
    margin-left:20px;

}

.eventImg{
    margin-top: 20px;
    width: 250px;
}

.eventLi{
    text-align: center;
}

.userHome{
    text-align: center;
}