.heading {
  color: rgb(223, 69, 124);
}
.heading3 {
  color: rgb(42, 41, 116);
  text-align: center;
}
.FormPages form{
  margin: auto 100px;
  padding: 20px 18em;
}
.FormPages h1 {
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(223, 69, 124);
  font-weight: 800;
}
.FormPages h3 {
  color: rgb(42, 41, 116);
  text-align: center;
  font-weight: 800;
}
.PHead {
  text-align: center;
  margin: 0 25%;

}
.eventDesc{
  text-align: center;
}
.secondaryLabel{
    margin: 10px 0;
    font-size: large;
}
.radioInput{
    text-align: center;
}

.submit{
    background-color: rgb(223, 69, 124);
    border: none;
    border-radius: 4px;
    color: #f8f8f8;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer; 
}

.nextButton{
  background-color: rgb(223, 69, 124);
  border: none;
  border-radius: 4px;
  color: #f8f8f8;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  cursor: pointer; 
}

.back{
  background-color: gainsboro;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  cursor: pointer; 
  margin-top: 30px;
  margin-bottom:20px
}

.formPage{
  text-align: center;
}

.myProgress {
  width: 1200px;
  background-color: #ddd;
  height: 30px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.myBar {
  width: 400px;
  height: 30px;
  background-color: rgb(25, 102, 245);
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 16px;
}

.myBar2 {
  width: 800px;
  height: 30px;
  background-color: rgb(25, 102, 245);
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 16px;
}

.myBar3 {
  width: 1200px;
  height: 30px;
  background-color: rgb(25, 102, 245);
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 16px;
}
