
.adminTableHead{
    color: black;
    background-color: rgb(223, 223, 223);
    padding: 8px;
    text-align: center;
    font-size: 16px;
    outline: 1px solid black;
    
}

.adminHead{
  margin-top: 30px;
  margin-bottom: 30px;
  color: navy;
  text-align: center;
}

.approved{
  border: 2pt solid rgb(43, 185, 102);
  border-radius: 12px;
  background-color:  rgb(43, 185, 102);
  color:white;
  padding: 5px;
  width:100px
}

.unapproved{
  border: 2pt solid rgb(141, 140, 140);
  border-radius: 12px;
  background-color:  rgb(141, 140, 140);
  color:white;
  padding: 5px;
}

.detailsButton{
  border: 2pt solid cornflowerblue; 
  border-radius: 12px;
  background-color: cornflowerblue;
  color:white;
  padding: 5px;
}
