body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.alert {
  background-color: #ff454529;
  border-radius: 8px;
  text-align: center;
  margin: 50px 10em;
  padding: 10px;
}

.LoginForm {
  background-color: white;
  width: 30%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 1px 5px 5px 0px rgb(73, 73, 73);
  text-align: center;
}

.registerPage{
  background-color: white;
  width: 30%;
  height: 400px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 1px 5px 5px 0px rgb(73, 73, 73);
  text-align: center;
}

.loginEmail{
margin-left: 30px;
}

.emailSpace{
  margin-left: 35px;
}
input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in,
.log-out,
.register {
  background-color: rgb(223, 69, 124);
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 40px;
  min-width: 85px;
  font-weight: 600;
  outline: 0;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.register:hover {
  background-color: rgb(223, 69, 124);
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.welcomePage{
  text-align: left;
  padding: 10px 130px 10px 130px;
  margin-bottom: 100px;
}

.welcomePage h1{
  text-align: center;
  color: rgb(223, 69, 124)
}

.welcomePage h3{
  color:rgb(223, 69, 124);
}

.welcomePage h2{
  text-align: center;
  color:rgb(42, 41, 116);
}

.fundButton{
    color: #f2f2f2;
    background-color: rgb(223, 69, 124);
    text-align: center;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 700;
    border-color: rgb(223, 69, 124);
    border-radius: 8px;
    box-shadow: 1px 5px 5px 0px rgb(0, 0, 0)
}

.reviewFormHead{
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(42, 41, 116);
  font-weight: 800;
}

.reviewFormHead3{
  margin-top: 10px;
  margin-left: 20px;
  color:rgb(223, 69, 124);
  font-weight: 800;
}

.updateBtn{
    background-color: rgb(42, 41, 116);
    border: none;
    border-radius: 4px;
    color: #f8f8f8;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 30px;
    cursor: pointer; 
}

.updateBtn:hover{
  background-color: rgb(223, 69, 124);
}