.hclogo{
  height: 150px;
  margin: 30px 10px 10px 510px;
}

.nav-title {
    font-size: 30px;
    font-weight: 700;
    color: black;
    padding-left: 10px;
    text-align: center;
}

.nav {
  /* overflow: hidden; */
  background-color: white;
}

.nav-link {
  color: #f2f2f2;
  background-color: rgb(223, 69, 124);
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid white;
  padding: 10px 133px 10px 132px;
  /* width: 10%; */

}

.nav-link:hover {
  background-color: rgb(42, 41, 116);
  color: white;
}


/* .nav-right {
  float: right;
} */
.col-lg {
  color: #f2f2f2;
  background-color: rgb(223, 69, 124);
  text-align: center;
  padding: 15px 0px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid white;
  padding: 10px 133px 10px 132px;
}
.col-lg:hover {
  background-color: rgb(42, 41, 116);
  color: white;
  text-decoration: none;
}
.row{
  width: 100%;
  display: flex;
}

